@using ShindaPratice.Models.Shinda;

<div class="row">
    <div class="col-6 m-2" style="font-size:20px;padding-left:20%">新達報名</div>
    <div class="col-6"></div>
</div>

<div class="row">
    <div class="col-6 border-right border-dark" style="height:500px;padding-left:10%">
        <div id="test">
            <div class="m-2">手機</div>
            <div class="m-2">
                <input type="text" class="form-control w-50" name="phone" />
                <br />
            </div>
            <div class="m-2">姓名</div>
            <div class="m-2">
                <input type="text" class="form-control w-50" name="name" />
                <br />
            </div>
            <div class="m-2">Email</div>
            <div class="m-2">
                <input type="text" class="form-control w-50" name="email" />
                <br />
            </div>

            <div class="m-2">活動項目</div>
            @foreach (var item in @ViewBag.list)
            {
                <div class="m-2">
                    <input type="checkbox" value="@item.CItemId" />
                    @item.CItemName @item.CActiveDt
                </div>
            }
            <br />
            <button type="submit">表單發送</button>
            <button id="x1" onclick="submit()" style="display:inline-block">測試</button>
        </div>
    </div>
    <div class="col-6 pl-5 pr-5" style="height:500px;">
        <div class="row mb-4">
            <div class="col-4">
                <input type="text" onkeyup="test(event.target.value)" class="form-control w-50" placeholder="手機" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control w-50" placeholder="姓名" />
            </div>
            <div class="col-4">
                <select class="form-control w-50">
                    <option value="0">請選擇...</option>
                    @foreach (var item in @ViewBag.list as List<TblActiveItem>)
                    {
                        <option value="@item.CItemId">@item.CItemName</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>手機</th>
                        <th>姓名</th>
                        <th>信箱</th>
                        <th>活動項目</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

<script>
    var res = {};

        window.onload = () =>{
            //alert('載入完成後 改成用get發送請求拿取資料動態顯示報名名單')
            var req = new XMLHttpRequest();
            req.open('GET','https://localhost:44319/Shinda/Get',true);
            req.setRequestHeader("Content-type", "application/json");
            req.setRequestHeader("Accept","json");

            req.send();

            req.onreadystatechange = function(){
                if(req.status == 200 && req.readyState == 4){

                    debugger

                    res = JSON.parse(req.response);

                    if(res.Msg != undefined){
                        alert(res.Msg);
                    }
                    else{
                        debugger

                        document.getElementById('tbody').innerHTML = '';
                        //$('#tbody').innerHTML = '';

                        for(i = 0; i < res.length; i++){
                            $('#tbody').append(`<tr><th>${res[i].phone}</th><th>${res[i].name}</th><th>${res[i].email}</th><th>${res[i].items}</th></tr>`)
                        }
                    }
                }
            }
        }
        

        function test(value){
            //alert(value)
            debugger
            document.getElementById('tbody').innerHTML = '';

            for(i = 0; i < res.length; i++){
                if(res[i].phone.indexOf(value) != -1){
                    $('#tbody').append(`<tr><th>${res[i].phone}</th><th>${res[i].name}</th><th>${res[i].email}</th><th>${res[i].items}</th></tr>`)
                }
            }
        }

        function submit(){
            var Sign = {
                phone:'',
                name:'',
                email:'',
                items:''
            };

            Sign.phone = document.getElementsByName('phone')[0].value;
            Sign.name = document.getElementsByName('name')[0].value;
            Sign.email = document.getElementsByName('email')[0].value;

            var checklist = document.querySelectorAll('input[type=checkbox]:checked');

            var i = 0;

            var arr = [];

            for(i = 0; i < checklist.length; i++ ){
                arr.push(checklist[i].value);
            }

            //debugger

            Sign.items = arr.join(',');

            debugger
            var data = JSON.stringify(Sign);

            var req = new XMLHttpRequest();
            req.open('POST','https://localhost:44319/Shinda/Post',true);
            req.setRequestHeader("Content-type", "application/json");
            req.setRequestHeader("Accept","json");

            req.send(data);

            req.onreadystatechange = function(){
                if(req.status == 200 && req.readyState == 4){

                    debugger

                    res = JSON.parse(req.response);

                    if(res.Msg != undefined){
                        alert(res.Msg);
                    }
                    else{
                        alert('報名已送出');

                        var inps = $(':input');

                        for (i = 0; i < inps.length - 1; i++){
                            if(inps[i].type == 'text'){
                                inps[i].value = '';
                            }
                            else if (inps[i].type == 'checkbox'){
                                inps[i].checked = false;
                            }
                        }

                        debugger

                        document.getElementById('tbody').innerHTML = '';
                        //$('#tbody').innerHTML = '';

                        for(i = 0; i < res.length; i++){
                            $('#tbody').append(`<tr><th>${res[i].phone}</th><th>${res[i].name}</th><th>${res[i].email}</th><th>${res[i].items}</th></tr>`)
                        }
                    }
                }
            }
        }

</script>
}